.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:white;
    padding:20px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.navbar h2{
    color:#003366;
}